.b-image {

    width: 1600px;
    height: 808px;
    left: 50px;
    top: 10px;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    justify-items: center;
    padding: 10px;

}

.first-content {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 1260px;
    top: 216px;
    color: antiquewhite;
    ;
}

.mid-content {
    position: absolute;
    width: 1000px;
    height: 723.3px;
    left: 900px;
    top: 939px;
}

.second-image {
    width: 100px;
    height: 908px;
    left: 50px;
    top: 0;
    right: 20px;
    margin-left: 50px;
    margin-right: 20px;
}
.plan-text{
    text-align: center;
    font-size: 25px;
}